<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body style="background-color:blueviolet">
    <h1 style="background-color:blanchedalmond"><marquee scrollamount="10px">This is the conditional statements available in the python</marquee></h1>
    <center>
    <h1> This is if condition</h1>
    {% if a > 10 %}
    <h2> {{a}}</h2>
    {% endif %}
    </center>

        
    
    <!-- <center>
    <h1>This is if-else condition</h1>
    {% if a > b %}
    <h1> a is maximum</h1>
    {% else %}
    <b> b is maximum</b>
    {% endif %}
    </center> -->

    <!-- <center>
        <h1> This is if elif condition</h1>
        {% if a > b %}
        <h2> a is maximum {{a}}</h2>
        {% elif b > a %}
        <h2>b is maximum {{b}}</h2>
        {% else %}
        <h2> a and b are equal </h2>
        {% endif %}
    </center> -->

    <!-- <center>
        <h1> This is nested if conditions</h1>
        {% if a > b %}
            {% if a > c %}
            <h2> a is maximum {{a}}</h2>
            {% else %}
            <h2> c is maximum {{c}}</h2>
            {% endif %}
        {% else %}
            {% if b > c %}
            <h2> b is maximum {{b}}</h2>
            {% else %}
            <h2>c is maximum {{c}}</h2>
            {% endif %}
        {% endif %}

    </center> -->

</body>
</html>